h1,
h2,
p,
li {
    font-family: 'Oswald', sans-serif;
}

header {
    padding: 0.5rem;
    background-color: #1c4444;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 2rem;
}

nav ul {
    display: none;
    list-style-type: none;
}

.activenav {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: #2f7272;
    top: 5.15rem;
    width: 100%;
    left: 0;
    text-align: center;
}
