body {
    box-sizing: border-box;
    color: #030202;
    font-family: 'Libre Baskerville', garamond, serif;
    background: #000000 url(../img/bkg.jpg) no-repeat center center;
    background-size: cover;
}

* + * {
    margin-top: 1.5rem;
}

.container {
    margin: 10% auto;
    width: 50%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: solid 12px #203838;
    box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.3);
}

form {
    width: 80%;
    max-width: 400px;
    margin: auto;
}

input,
label,
textarea {
    display: block;
    font-family: 'Libre Baskerville', garamond, serif; /* This overrides the Normalize settings */
}

input[type=text],
input[type=email],
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-top: solid 3px #203838;
}

textarea {
    min-height: 6rem;
    line-height: 1.4rem;
}

input[type=submit] {
    margin-top: 2rem;
    padding: 1.2rem;
    background-color: #203838;
    color: #ffffff;
    border: solid 3px #203838;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #203838;
}

label {
    margin-bottom: 0.5rem;
}
